* {
  padding: 0;
  margin: 0;
}

/*Управления цветами текста сайта и при наведении*/
.color_text-body {
  color: #f9f9f9;
}

.color_text-nav_foter {
  color: rgb(0, 0, 0);
}

.b:hover {
  background-color: #ddd;
}

button:hover {
  background-color: rgb(134, 134, 134);

}/*тут управления цветами закончилось*/


/*управления цветами офорвления nav и footer*/
.nav-fr_bg-clr {
  background-color: rgba(252, 10, 22, 0.5);
}/*Конец управления цветами офорвления nav и footer*/



body {
  height: 100vh;
  width: 100%;
}

#menu-container {
  position: absolute;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

#menu {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#menu li {
  flex: 1;
  text-align: center;

}

#menu img {
  margin: 5px;
}

#menu a {
  text-decoration: none;
  font-size: 22px;
}

.colum {
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.phone_btn-parent {
  display: inline-lock;
  list-style: none;
}

.phone_btn-image {
  padding-bottom: 1px;
}

.phone_btn {
  font-size: 1px;
  text-decoration: none;
  vertical-align: middle;
}

.sun-btn {
  max-width: 6%;
  background-color: none;

}

.sun_btn_image {
  width: 30px;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 100%;
}

/*
:root {
  --primary-color: #f9f9f9;
  --secondary-color: #222;
  --text-color: #333;
  --background-color: #fff;
}

.dark-theme {
  --primary-color: #333;
  --secondary-color: #f9f9f9;
  --text-color: #f9f9f9;
  --background-color: #222;
}
*/


#blinch {
  position: relative;
  margin-top: 140px;
  margin-left: 150px;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(123, 161, 241);
  border-radius: 100%;
  z-index: 8;
}

#parents {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #333;
  z-index: 8;
}


.bgc_header{
  display: flex;
  min-width: 100%;
  height: 400px;
  background-color: rgba(252, 10, 22, 1);
  position: relative;
  z-index: 11;
  
}



#logo {/*Настройка основного изображения LOOP HERO*/
  display: flex;
  text-align: center;
  justify-content: start;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  position: relative;
  background-image: url(/parts/logo.png);
  z-index: 9;
}



#slogan {/*Настройка заголовка приветствия*/
  margin-right: 0;
  margin-left: 300px;
  margin-top: 140px;
}

.paragraf {/*Настройка текста о компании*/
  margin-left: 400px;
}

footer {
  text-align: center;
  width: 100%;
  height: 100px;
}

/*Настройка иконок соц. сетей*/
.fab {

  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(28, 15, 214);
}

.social-links {
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}