* {
  padding: 0;
  margin: 0;
}

/*Управления цветами текста сайта и при наведении*/
.color_text-body {
  /*настройка цвета текста в body*/
  color: #f9f9f9;
}

.color_text-nav_footer {
  color: rgb(0, 0, 0);
}

.b:hover {
  background-color: #ddd;
}

button:hover {
  background-color: rgb(134, 134, 134);

}

/*тут управления цветами закончилось*/



.nav-fr_bg-clr {
  /*управления цветами офорвления nav и footer*/
  background-color: rgba(252, 10, 22, 0.5);
}


body {
  height: 100vh;
  width: 100%;
}

#menu-container {
  position: absolute;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

#menu {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#menu li {
  flex: 1;
  text-align: center;

}

#menu img {
  margin: 5px;
}

#menu a {
  text-decoration: none;
  font-size: 22px;
}

.colum {
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.phone_btn-parent {
  display: inline-lock;
  list-style: none;
}

.phone_btn-image {
  padding-bottom: 1px;
}

.phone_btn {
  font-size: 1px;
  text-decoration: none;
  vertical-align: middle;
}

.sun-btn {
  max-width: 6%;
  background-color: none;

}

.sun_btn_image {
  width: 30px;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 100%;
}

/*
:root {
  --primary-color: #f9f9f9;
  --secondary-color: #222;
  --text-color: #333;
  --background-color: #fff;
}

.dark-theme {
  --primary-color: #333;
  --secondary-color: #f9f9f9;
  --text-color: #f9f9f9;
  --background-color: #222;
}
*/


#loophero {
  /*Настройка основного изображения LOOP HERO*/
  display: flex;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  position: absolute;
  z-index: 29;
  margin-top: 50px;
}

.bgc_header {
  /*Контейнер для логотипа и слогана*/

  display: inline-flex;
  position: relative;
  text-align: center;
  z-index: 29;
  margin-top: 50px;
  height: 300px;
  width: 100%;
  padding-top: 100px;
}

#blinch {
  /*настройка круглого логотипа*/
  width: 100px;
  height: 100px;
  border: 2px solid rgb(123, 161, 241);
  border-radius: 100%;

}

#slogan {
  /*Настройка заголовка приветствия*/

}

#parents {
  /*Настройка фона 2го заголовка и текса*/
  position: relative;
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #333;
  z-index: 29;
  padding-top: 50px;
  padding-left: 30px;
}

.paragraf {
  /*Настройка текста о компании*/
}

footer {
  text-align: center;
  width: 100%;
  height: 100px;
}

/*Настройка иконок соц. сетей*/
.fab {
  font-size: 1.5rem;
  color: rgb(28, 15, 214);
}

.social-links {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;

}